{% extends 'authenticated.html' %}

{% block page_content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
    </div>
    <div class="row">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ threshold_caption }}</h6>
            </div>
            <div class="card-body">
                {{ threshold_table|safe }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ caption }}</h6>
            </div>
            <div class="card-body">
                {{ table|safe }}
            </div>
        </div>
    </div>
{% endblock %}